.actionButtons {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.actionButton {
    height: 58px;
    width: 60px;
    background-color: #EA433A;
    font-family: Roboto;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.equallyButton {
    height: 60px;
    width: 120px;
    background-color: #212121;
    color: white;
    font-size: 30px;
    font-family: Roboto;
    cursor: pointer;
    margin-left: -60px;
}

.equallyButton:hover, .actionButton:hover {
    border: 1px solid grey;
}