.App {
 background-color: #D3333D;
 background: linear-gradient(90deg, #EF473A 0%, #DF3B3B 50%, #CE2F3E 100%);
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsBlock {
    display: flex;
    margin: 0 auto;
}