.App {
 background-color: #D3333D;
 background: linear-gradient(90deg, #EF473A 0%, #DF3B3B 50%, #CE2F3E 100%);
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttonsBlock {
    display: flex;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
}

.icons8-меню { 
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCAyMjYgMjI2IgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDIyNnYtMjI2aDIyNnYyMjZ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTI4LjI1LDEwMy41ODMzM2gxNjkuNXYxOC44MzMzM2gtMTY5LjV6TTI4LjI1LDQ3LjA4MzMzaDE2OS41djE4LjgzMzMzaC0xNjkuNXpNMjguMjUsMTYwLjA4MzMzaDE2OS41djE4LjgzMzMzaC0xNjkuNXoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==') 50% 50% no-repeat;
    background-size: 100%; 
    position: absolute;
    top: -26px;
    left: -20px;
    cursor: pointer;
}