.display {
    background-color: #212121;
    padding: 30px 18px 70px;
    color: white;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
}

.expression {
    width: 100%;
    text-align: left;
    font-size: 16px;
    min-height: 20px;
    word-wrap: break-word;
}

.result {
    width: 100%;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}